body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #F1BF98;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    flex: 1;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #3F4739;
}
.left{
    font-weight:900;
    font-size: 75px;
    color: #3F4739;
}
.right{
    display: flex;
    gap: 15px;
    font-weight:lighter;
    padding: 2%;
    font-size: 15x;
}

.main{
    display: flex;
    flex-direction: column;
    
}

.sec1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F1BF98;
    padding: 3%;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}
.title1{
    font-weight: 900;
    color: #3F4739;
    font-size: 40px;
}
.subtext1{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    font-size: 20px;
}
.button1{
    border-style: none;
    border-width: 1px;
    border-radius: 4px;
    padding: 2%;
    padding-right: 3%;
    padding-left: 3%;
    background-color: rgb(171, 251, 114);
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.img1{
    border-style: none;
    border-width: 0px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.right1, .left1{
    flex: 1 1 300px;
}

.sec2{
   display: flex;
   flex-direction: column;
   background-color: #E1F4CB;
   padding: 3%;
}
.sec2title{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color:#3F4739;
    padding-bottom: 2%;
}
.dogImages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.imgs{
    border-style: none;
    border-width: 0px;
    border-radius: 10px;
    padding-bottom: 2%;
}
.dogitem{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.doginfotext{
    font-size: 20px;
}

.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BACBA9;
    padding: 10%;
}
.quote{
    display: flex;
    justify-content: flex-start;
    font-family: papyrus;
    font-weight: 400;
    font-size: 60px;
}
.author{
    display: flex;
    justify-content: flex-end;
    padding-left: 400px;
    font-size: 20px;
}

.sec4bg {
    background-color: #717568; /* outer background */
    padding: 5%;
    display: flex;
    justify-content: center;
  }
  .sec4 {
    background-color: #ffffff; /* inner rounded box */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5%;
    border-radius: 5px;
    flex-wrap: wrap;
    width: fit-content;
  }
  .left4 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .left4title {
    font-size: 20px;
    font-weight: bold;
  }
  .left2info {
    font-size: 16px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(171, 251, 114);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

.footer{
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding: 10px 15px;
  background-color: #F1BF98;
  font-size: 15px;
}
.clarification{
    font-size: smaller;
}